{% extends 'base.html' %}

<!-- head starts -->
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Welcome to Horizon News
    {% endif %}

{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/article.css') }}">
{% endblock %}

<!-- body starts -->
{% block app_content %}
    <div class="row">
        <h3>Read the lastest news across the globe</h3>
        {% for article in articles %}
        <div class="col-md-4">
            <div class="card" >
                <img src="{{ article.urlToImage }}" class="card-img-top img-fluid img-thumbnail" alt="Article Image">
                <div class="card-body">
                  <h5 class="card-title">{{article.title}}</h5>
                  <div class="card">
                    <div class="card-body">
                        <p>{{article.description}}</p>
                        <!-- <p>{{article.content}}</p>  -->
                        <button class="visit-btn btn"><a href="{{article.url}}" class="btn visit-btn">Click to read more</a></button>
                        
                        <p>Date: {{article.publishedAt}}</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}