{% extends 'base.html' %}


{% block app_content %}
    <div class="row">
        <h1 class="text-center">Welcome to Horizon News</h1>
        {% for news_source in news_sources %}
        <div class="col-md-6">
            <!-- News Sources -->
                <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> {{news_source.name}} </h5>
                            <div class="card-body">
                                <ul>
                                    <li> <p>{{news_source.description}}</p> </li>
                                    <li> <p>{{news_source.category}}</p> </li>
                                    <li> <p>{{news_source.country}}</p> </li>
                                </ul>
                            </div>
                            <a href="{{news_source.url}}" class="btn btn-primary">Visit website</a>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock%}