{% extends 'base.html' %}
<!-- head starts -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block app_content %}
    <div class="row">
        {% for news_source in news_sources %}
        <!-- <div class="col-md-4">
            {{news_source.name}}
        </div> -->
        <div class="col-md-6">
            <!-- News Sources -->
                <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> {{news_source.name}} </h5>
                            <div class="card-body">
                                <ul>
                                    <li> <p>{{news_source.description}}</p> </li>
                                    <!-- <li> <p>{{news_source.category}}</p> </li>
                                    <li> <p>{{news_source.country}}</p> </li> -->
                                </ul>
                            </div>
                            <a href="{{news_source.url}}" class="btn visit-btn">Visit website</a>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock%}